
rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    
    function isSignedIn() {
      return request.auth != null;
    }

    function isOwner(userId) {
      return isSignedIn() && request.auth.uid == userId;
    }

    function isAdmin() {
      return isSignedIn() && get(/databases/$(database)/documents/users/$(request.auth.uid)).data.role == 'admin';
    }

    match /users/{userId} {
      allow get: if isOwner(userId) || isAdmin();
      allow list: if isAdmin();
      // Allow users to create their own profile, and allow admins to perform any write.
      allow create: if isOwner(userId);
      allow update, delete: if isAdmin();
    }

    match /TAASBugSenseAI/{fileId} {
      allow read, create, update, delete: if isSignedIn();
    }
  }
}
